* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: #f8f8f8;
    border-radius: 5%;
    padding: 5% 10%;
    text-align: center;
    width: 90%;
    max-width: 600px;
}

.h1 {
    font-size: 22px;
    margin: 5%;
    color: #4b4b4b;
}

.add-item-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin-bottom: 4%;
}